# Public destinations used by the marketing-site links.
NEXT_PUBLIC_LOGIN_URL=https://main.d3r6z57jqeqvlu.amplifyapp.com/login/
NEXT_PUBLIC_CONTACT_URL=https://mail.google.com/mail/?view=cm&fs=1&to=sooraj%40gai.ventures
NEXT_PUBLIC_QUESTION_URL=https://mail.google.com/mail/?view=cm&fs=1&to=sooraj%40gai.ventures&su=Veloce%20enquiry
NEXT_PUBLIC_DEMO_URL=https://calendly.com/sooraj-gai/veloce-demo
